---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Lab">
  <main>
    <h1>Lab</h1>
    <p>This is a space for experiments.</p>

    <p>Some things here are unfinished, some may change,
    and some are just ideas I wanted to try out.</p>

    <p>Peak curiosity. Minimal polish.</p>
  </main>
</BaseLayout>
