<nav style="padding: 1rem; border-bottom: 1px solid #ddd;">
  <a href="/" style="margin-right: 1rem;">Home</a>
  <a href="/photography" style="margin-right: 1rem;">Photography</a>
  <a href="/blog" style="margin-right: 1rem;">Blog</a>
  <a href="/lab" style="margin-right: 1rem;">Lab</a>
  <a href="/connect">Connect</a>
</nav>
