---
import Nav from "../components/Nav.astro";
import Analytics from "../components/Analytics.astro";

const { title = "Randy Warner" } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{title}</title>
    <Analytics />
  </head>
  <body>
    <Nav />

    <main style="padding: 2rem;">
      <slot />
    </main>
  </body>
</html>
